<section id="experience">
    <h2>Experience</h2>

    <div class="timeline-item">
        <div class="timeline-header">
            <span class="timeline-title">Valencian Research Institute for Artificial Intelligence (VRAIN)</span>
            <span class="timeline-date">November 2024 - August 2025</span>
        </div>
        <div class="timeline-subtitle">Computer Vision Graduate Researcher</div>
        <ul> 
            <li>Developed a web application to automate damaged image repair, improving reconstruction time by 98% w.r.t. manual restoration (AAAI-26 Demonstrations Program).</li>
            <li>Achieved over 90% identity preservation in more than 200,000 images with a specialized loss function and a facial treatment pipeline.</li>
            <li>Improved inference time by 30% and performance by 20%, per Borda Count expert voting, by substituting foundational model SAM2 for SegFormer fine-tuned with previously mentioned loss.</li>
        </ul>
    </div>

    <div class="timeline-item">
        <div class="timeline-header">
            <span class="timeline-title">Valencian Research Institute for Artificial Intelligence (VRAIN)</span>
            <span class="timeline-date">November 2023 - July 2024</span>
        </div>
        <div class="timeline-subtitle">Undergraduate Robotics Intern</div>
        <ul> 
            <li>Reduced response time of levitation control system of 250kg autonomous electric vehicle by 94% from previous PID system by training a Soft Actor-Critic Deep Reinforcement Learning Agent, while keeping power consumption below 100W, on embedded system STM32H7.</li>
            <li>Improved adjusting time by 99% by implementing a dynamic simulator for testing, minimizing material risks.</li>
        </ul>
    </div>
</section>
